<h1>Eventos</h1>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filtroLista">
  </div>
</div>

<h3>Filtro:{{filtroLista}}</h3>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="updateAllImg()">
          {{!showAllImg ? 'Exibir Todos' : 'Ocultar todos'}}
        </button>
      </th>
      <th>Local</th>
      <th>Tema</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>{{evento.eventoId}}</td>
      <td>
        <img
          [collapse]="!showAllImg"
          [isAnimated]="true"
          src="/assets/{{evento.imagemURL}}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
        >
      </td>
      <td><strong>{{evento.local}}</strong></td>
      <td><strong>{{evento.tema}}</strong></td>
      <td><strong>{{evento.dataEvento}}</strong></td>
      <td><strong>{{evento.qtdPessoas}}</strong></td>
      <td><strong>{{evento.lote}}</strong></td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" >Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr *ngIf="!eventos.length">
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento Encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
