<app-titulo [titulo]="'Eventos'"></app-titulo>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filtroLista">
  </div>
</div>

<h3>Filtro:{{filtroLista}}</h3>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="updateAllImg()">
        <i class="{{!showAllImg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!showAllImg ? 'Exibir' : 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Local</th>
      <th>Tema</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">

      <td [style.width.px]="180">
        <img
          [collapse]="!showAllImg"
          [isAnimated]="true"
          src="/assets/{{evento.imagemurl}}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
        >
      </td>
      <td><strong>{{evento.id}}</strong></td>
      <td><strong>{{evento.local}}</strong></td>
      <td><strong>{{evento.tema}}</strong></td>
      <td><strong>{{evento.dataevento | DateTimeFormat}}</strong></td>
      <td><strong>{{evento.qtdpessoas}}</strong></td>
      <td><strong>{{evento.lotes[0].nome}}</strong></td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr *ngIf="!eventos.length">
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento Encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja deletar?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
